doctype html
html
head
	title Home
body
	div(class='jumbotron')
		div(class='container')
			h1(class="display-3") Hello, Home!

			img(src='img/dog.png')

			p(class='lead')
				a(
					class="btn btn-primary btn-lg"
					role='button'
				) Learn more
